In [102]:
import pandas as pd
from time import time
from sqlalchemy import create_engine

In [104]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [106]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [108]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [110]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [94]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000, dtype={"store_and_fwd_flag": str})

In [96]:
df = next(df_iter)

In [98]:
len(df)

100000

In [50]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [21]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

1000

In [112]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [42]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 4.52 s
Wall time: 7 s

765

In [114]:
for df in df_iter:
    t_start_time = time()

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df["store_and_fwd_flag"] = df["store_and_fwd_flag"].astype(str)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end_time = time()
    print('Inserted another chunk, took %.2f seconds' % (t_end_time - t_start_time))

Inserted another chunk, took 36.08 seconds
Inserted another chunk, took 82.62 seconds
Inserted another chunk, took 56.06 seconds
Inserted another chunk, took 67.26 seconds
Inserted another chunk, took 53.70 seconds
Inserted another chunk, took 52.33 seconds
Inserted another chunk, took 50.09 seconds
Inserted another chunk, took 52.68 seconds
Inserted another chunk, took 43.01 seconds
Inserted another chunk, took 68.09 seconds
Inserted another chunk, took 72.09 seconds
Inserted another chunk, took 56.67 seconds
Inserted another chunk, took 37.42 seconds